:root{
    --primary-color : #645fe3;      
    --primary-color-hover : #322be6;
    --primary-color-extra-hover : #1710e5;
    --error-color : #872e36; 
    --font-family-regular: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --container-color : #bacada;
}
/* body { */
    /* padding-top: 56px; */ 
/* } */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default body margin */
}
.navbar {
    background-color: var(--container-color); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    animation: slideIn 0.5s ease; 
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: black;
}

.navbar-nav .active-nav-item {
    background-color: var(--primary-color);
    color: #ffffff;     
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease; 
    animation: fadeIn 0.5s ease;
}

.navbar-nav .active-nav-item a {
    color: #ffffff;  /* Set the desired text color for the active section */
}
.nav-item:hover{
    outline: 2px solid #62676d;
    border-radius: 0.85rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section {
    display: none;
    animation: fadeInSection 1s ease; 
}

.section.active {
    display: block;
}

@keyframes fadeInSection {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 
* { box-sizing: border-box; }
body {
  font: 16px Arial;
} */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.selected-skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.selected-skill-item {
    margin: 3px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.alert {
    color: red;
    font-size: small;
    margin-top: 0.2rem;
    display: none;
    margin-bottom: auto;
    padding-top: 0px;
    padding-left: 0px;
   
}
.iti{
    width: 100%;
}
.modal.show {
    /* display: block !important; */
}

.modal-backdrop {
    /* Add your styles for the modal backdrop here, if needed */
}
.container-view{
    width: 50%;
}
.btn{
    background-color: var(--primary-color);
}
.btn:hover{
    background-color: var(--primary-color-hover);
}