/* Define root variables for color schemes */
/* Define global styles for the body */
/* Define styles for horizontal rule elements */
/* Define styles for error message alerts */
/* Define styles for links related to password recovery and sign up */
/* Define styles for cards */
/* Define styles for toast notifications */
/* Define styles for buttons and button containers */
/* Define styles for forgot password modal */
/* Define styles for alert messages */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    background-image: url("https://templated.co/items/demos/spatial/images/pic02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
hr{
    color: #ffffff;
    height: 1px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#emailAlert, #passwordAlert{
    color: red;
    display: none;
    margin-top: 2px;
}
#forgotpassword {
  color: var(--primary-color);
  cursor: pointer;
}

#forgotpassword:hover, #signup:hover {
  color: var(--primary-color-hover);
}

.card{
    background-color: var(--container-color) !important;
}

#toast-container {
    position: fixed;
    top: 20px;
    z-index: 1000;
}

#toast {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

#toast.hidden {
    opacity: 0;
    pointer-events: none;
}
#toast.success {
    background-color: #4CAF50;
    color: #fff;
}

#toast.error {
    background-color: #D32F2F;
    color: #fff;
}


.btn-container {    
    display: flex;
    justify-content: center; 
    margin-top: 2rem; 
}

.btn {
    border-radius: 0.3rem;
    background-color: var(--primary-color) !important;
    color: #ffffff;
    border: none;
    height: 2.3rem; 
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    cursor: pointer !important;
    align-items: center;
    font-size: 1.1rem;
}
.btn:disabled{
    cursor: not-allowed !important;
    background-color: var(--primary-color) !important;
    color: white;
}
.btn:hover{
    background-color: var(--primary-color-hover) !important;
    outline: none;
}

.forgot-password-modal{
    background-color: var(--container-color) !important;
}
.alert {
    color: red;
    font-size: small;
    margin-top: 0.2rem;
    display: none;
    margin-bottom: auto;
}
#forgotpassword , #signup{
    color: var(--primary-color-hover) !important;
    cursor: pointer;
}
#forgotpassword:hover , #signup:hover{
    color: var(--primary-color-extra-hover) !important;
    font-weight: 400;
}