body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    background-image: url("https://templated.co/items/demos/spatial/images/pic02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 70%;
    /* max-width: 500px; */
    box-shadow: 0 0 10px #0000001a;
    background-color: #d3d3db;
    border-radius: 0.4rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
}

.card-data{
    /* display: flex; */
    justify-content: space-evenly;
}
.card-item{
    width: 50%;
    margin: 0px 10px 0px 10px ;
}
.card-title {
    margin: 0.9rem;
    font-size: 2rem;
    text-align: center;
}
.card-row{
    display: flex;
}
.mb-3 {
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
}

.form-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.form-control {
    box-sizing: border-box; /* Add box-sizing property */
    border-radius: 0.2rem;
    border: 0.01rem solid #c3b6b6;
    display: block;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    line-height: 1.5; /* Adjust line-height property */
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #0d6efd;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.btn {
    border-radius: 0.3rem;
    background-color: #0d6efd;
    color: white;
    border: none;
    height: 2.3rem;
    width: 30%;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;      
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

.card-body form{
    justify-content: center;
    align-items: center;
}
.cause {
    display: flex;
    color: red;
    justify-content: space-between;
}
.reason{
    display: none;
    font-size: small;
    margin-top: 0.2rem;
}
#login {
    cursor: pointer;
}

#text {
    font-size: 1.2rem;
}

.alert {
    color: red;
    font-size: small;
    margin-top: 0.2rem;
    display: none;
    margin-bottom: auto;
}

.bg-light {
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.gender{
    display: flex;
}
.gender-item{
    display: flex;
    align-items: center;
    width: 20%;
}
.invalid {
    border: 1px solid red;
}
