/* Root variable definitions for color schemes */
/* Global styles for the body */
/* Styles for horizontal rule elements */
/* Styles for error message alerts */
/* Styles for links related to password recovery and sign up */
/* Styles for cards */
/* Styles for toast notifications */
/* Styles for buttons and button containers */
/* Styles for forgot password modal */
/* Styles for alert messages */

:root{
    --primary-color : #645fe3;      
    --primary-color-hover : #322be6;
    --primary-color-extra-hover : #1710e5;
    --error-color : #872e36; 
    --font-family-regular: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --container-color : #bacada;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    background-image: url("https://templated.co/items/demos/spatial/images/pic02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 55%;
    box-shadow: 0 0 10px #0000001a;
    background-color: var(--container-color);
    border-radius: 0.4rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
}

.card-data{
    justify-content: space-evenly;
}
.card-item{
    width: 50%;
    margin: 0px 10px 0px 10px ;
}
.card-title {
    margin: 0.9rem;
    font-size: 2rem;
    text-align: center;
}
.card-row{
    display: flex;
}
.mb-3 {
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
}

.form-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.form-control,#fixedTextarea {
    box-sizing: border-box; 
    border-radius: 0.2rem;
    border: 0.01rem solid #c3b6b6;
    display: block;
    width: 100%;
    outline: none;
    padding: 0.3rem;
    font-family: var(--font-family-regular);
    font-size: 1.1rem;
    line-height: 1.5; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus,#fixedTextarea:hover {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.btn {
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: 2.3rem;
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;      
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}
.btn:disabled{
    cursor: not-allowed;
    background-color: var(--primary-color);
    color: white;
}
.btn:hover{
    background-color: var(--primary-color-hover);
    outline: none;
    box-shadow: 0 0 0 0.02rem white;
}

.card-body form{
    justify-content: center;
    align-items: center;
}
.cause {
    display: flex;
    color: red;
    justify-content: space-between;
}
.reason{
    display: none;
    font-size: small;
    margin-top: 0.2rem;
}
#login {
    cursor: pointer;
}

#text {
    font-size: 1.2rem;
}

.alert {
    color: red;
    font-size: small;
    margin-top: 0.2rem;
    display: none;
    margin-bottom: auto;
}

.bg-light {
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.gender{
    margin-left: 5%;
}
.gender-item{
    display: flex;
    align-items: center;
}
.gender-box{
    display: flex;
    align-items: center;
}
.gender-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invalid {
    border: 1px solid red;
}
.required{
    color: red;
}
.input-group {
    display: flex;
    align-items: center;
}

.input-group-text {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}

.form-control {
    box-sizing: border-box;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 0.01rem solid #c3b6b6;
    display: block;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
.phone-input-group {
    display: flex;
}

.display-flex{
    display: flex;
}
.role-input{
    margin-left: 2rem;
}
.role-select{
    margin-left: 5%;
    font-size: 1.1rem;
}
#fixedTextarea {
    width: 100%;

}

@media (max-width: 600px) {
    #fixedTextarea {
        max-width: 100%; 
    }
}

select{
    font-family: var(--font-family-regular);
}

.selected-skill-item {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.close-button {
    cursor: pointer;
    margin-left: 5px;
}
.phone-input{
    width: 100%;
}
#tel,#telalter{
    width: 100%;
}
.iti{
    width: 100%;
}

.card-item .skillsDropdown{
    position: relative;
    width: 100%;
    padding-left: 1rem;
}

.card-item select {
    border-radius: 0.2rem;
    border: 0.01rem solid #c3b6b6;
    display: block;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-item select:focus, .card-item .selected-skills:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
.card-item select option {
    font-family: var(--font-family-regular);
    padding: 8px;
}

.card-item select option:hover {
    background-color: #f2f2f2;
    color: var(--primary-color);
}

.autocomplete {
    position: relative;
    width: 100%;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    
}

.autocomplete-items div {
    padding: 0.25rem;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-items div:hover {
    background-color: #1967d2;
    color: white;
}

.autocomplete-active {
    background-color: #1967d2 !important;
    color: #ffffff;
}

.selected-skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 0px;
    border-radius: 5px;
}

.selected-skill-item {
    margin: 0px;
    margin-right: 3px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.selected-skill-item span {
    margin-left: 5px;
    cursor: pointer;
}

#toast-container {
    position: fixed;
    top: 20px;
    z-index: 1000;
}

#toast {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

#toast.hidden {
    opacity: 0;
    pointer-events: none;
}
#toast.success {
    background-color: #4CAF50;
    color: #fff;
}

#toast.error {
    background-color: #D32F2F;
    color: #fff;
}