:root{
    --primary-color : #645fe3;      
    --primary-color-hover : #322be6;
    --primary-color-extra-hover : #1710e5;
    --error-color : #872e36;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    background-image: url("https://templated.co/items/demos/spatial/images/pic02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 50%; 
    max-width: 450px;
    box-shadow: 0 0 10px #0000001a;
    background-color: #d3d3db;
    border-radius: 0.4rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
}

.card-title {
    margin: 0.9rem;
    font-size: 2rem;
    text-align: center;
}

.mb-3 {
    margin-bottom: 1rem;
}

.input-group{
    display: flex;
}

.form-label {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 0.2rem;
    border: 0.01rem solid #c3b6b6;
    display: block;
    line-height: 0.1rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 0.1rem var(--primary-color-extra-hover);
}

.text-center{
    text-align: center;
}

.text-primary{
    color: var(--primary-color);
}


.btn-container {    
    display: flex;
    justify-content: center; 
    margin-top: 2rem; 
}

.btn {
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    height: 2.3rem; 
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
    display: flex;
    cursor: pointer;
    align-items: center; 
}

.btn:disabled{
    cursor: not-allowed;
    background-color: var(--primary-color);
    color: white;
    /* border: 2px solid var(--primary-color); */
}
.btn:hover{
    background-color: var(--primary-color-hover);
    outline: none;
    box-shadow: 0 0 0 0.02rem white;
}
.cause{
    display: none;
    color: red;
}
#signup{
    cursor: pointer;
}
#text{
    font-size: 1.2rem;
}
#emailAlert, #passwordAlert{
    color: red;
    display: none;
    margin-top: 2px;
}

