:root{
    --btn-bg-light-color : #f8f8f8;
    --btn-active-light-bg-color : #f2f2f2;
    --btn-bg-color : #F2F2F2;
    --btn-active-bg-color : #D9D9D9;
}
/* nav bar */
    /* icon and menu */
body{
    animation: none;
    transition: none;
}
.nav-menu{
    width: 2.5rem;
}
.nav-menu:hover{
    background-color: var(--btn-active-bg-color);
}

    /*search and record*/
.input-search-left{
    width: 550px;
    border-radius: 180px 0px 0px 180px;
}

.btn-search-right{
    border-radius: 0px 180px 180px 0px;
    width: 4rem;    
    background-color: var(--btn-bg-light-color);
}
.btn-search-right:hover{
    background-color: var(--btn-active-light-bg-color);
}
.btn-mic{
    background-color: var(--btn-bg-color);
    width: fit-content;
    height: fit-content;
}

.btn-mic:hover{
    background-color: var(--btn-active-bg-color);
}
.btn-camera, .btn-bell, .btn-user{
    width: 2.5rem;
}
.btn-camera:hover, .btn-bell:hover, .btn-user:hover{
    background-color: var(--btn-active-bg-color);
}

/* sidebar canvas */
i{
    font-size: 1rem;
}
.btn{
    border: none;
}
.btn:focus{
    background-color: var(--btn-active-bg-color);
    animation: none;
}
.offcanvas-guide{
    width: 60%;    
}
.btn-guide{
    width: 100%;
    height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-guide:hover{
    background-color: var(--btn-bg-color);
}
.btn-active-guide{
    background-color: var(--btn-bg-color);
    font-weight: 600;
}
.btn-active-guide:hover{
    background-color: var(--btn-active-bg-color);
}
/* subscription */
.img-guide{
    width: 20px;
    height: 20px;
}
/* scrollbar */
.offcanvas-guide {
    overflow: hidden;
}

.offcanvas-guide:hover {
    overflow-y: auto; 
}
/* main guide */
.main-guide div button span{
    font-size: 10px;
}
.main-guide{
}
.main-guide div button{
    width: 4rem;
    height: 4.3rem;
    
}
/* suggest */
.nav-suggest{
    width: 100%;
}
.btn-suggest{
    background-color: var(--btn-bg-color);
    font-size: small;
    height: 2rem;
    font-weight: bold;
}
.btn-suggest:hover{
    background-color: var(--btn-active-bg-color);
}
.btn-active-suggest{
    background-color: black;
    color: white;
    font-weight: bolder;
}
/* scrollbar */
.container-suggest-wrapper {
    overflow: hidden;
}

.container-suggest {
    width: 200%;
    white-space: nowrap;
}

/* suggest */
.nav-suggest {
    width: 100%;
    overflow-x: hidden;
}
.card-text {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    width: 100%; /* Ensure text takes up full width of the card body */
}
